.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a.brand-logo {
    margin-left: 1rem;
}

.flashes h5 {
    line-height: 3;

}

.btn-small{
    margin: 1.5rem;
}

.btn {
    margin: 1.5rem;
}