
body {
  font-family: arial;
}

p{
  font-size: 35px;
}

a.rotateColors {
    color: rgb(236,100,75);
    animation: rotateColors 20s infinite;
    text-align: center;
    font-size: 45px;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-decoration: none;
  
}

@keyframes rotateColors {
  from, to { color: rgb(236,100,75); }
  10%      { color: rgb(219,10,91); }
  20%      { color: rgb(174,168,211); }
  30%      { color: rgb(89,171,227); }
  40%      { color: rgb(37,116,169); }
  50%      { color: rgb(3,201,169); }
  60%      { color: rgb(22,160,133); }
  70%      { color: rgb(233,212,96); }
  80%      { color: rgb(243,156,18); }
  90%      { color: rgb(236,240,241); }
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a.brand-logo {
  margin-left: 1rem;
}

nav ul a {
  font-size: 18px;
}

.flashes h5 {
  line-height: 2;
}

.btn-small {
  margin-right: 5px;
}

.btn {
  margin-right: 2px;
}

.card-panel {
  margin-top: 30px;
}



