.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a.brand-logo {
    margin-left: 1rem;
}

nav ul a {
    font-size: 18px;
}

.flashes h5 {
    line-height: 2;

}

.btn-small{
    margin-right: 5px;
}

.btn {
    margin-right: 2px;
}

.card-panel {
    margin-top: 30px;
}