{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text darken-2 center-align">All Recipes</h3>

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}
        {{ recipe.recipe_desc }}
        {{ recipe.category }}
    {% endfor %}


    <!-- {% if recipe|length > 0 %}
        <ul class="collapsible popout">
            {% for recipe in recipes %}
                <li>
                    <div class="collapsible-header black-text teal lighten-2">
                        <div class="col s3">
                            
                        </div>
                        <div class="col s9">
                            <strong>{{ recipes.recipe_name }}</strong>
                        </div>
                    </div>
                    <div class="collapsable-body">
                        <strong> {{ recipes.category_name }}</strong>
                        <p> {{ recipes.recipe_desc }} </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="red-text text-darken-3 center-align">No Results Found test</h3>
    {% endif %} -->



{% endblock %}