{% extends "base.html" %}
{% block content %}

    <h3 class="center align">Upload a Recipe!</h3>

    <div class="row card-panel">
        <form action="{{ url_for('upload_recipe') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                        required>
                    <label for="recipe_name" class="black-text">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="category" name="category" minlength="5" maxlength="20" type="text" class="validate" required
                        placeholder="Breakfast, Lunch, or Dinner?">
                    <label for="category" class="black-text">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_desc" name="recipe_desc" minlength="5" maxlength="200" type="text" class="validate"
                        required placeholder="Describe the recipe">
                    <label for="recipe_desc" class="black-text">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="ingredients" name="ingredients" minlength="5" maxlength="200" type="text" class="validate"
                        required placeholder="Ingredient and measurements, separate with a comma">
                    <label for="ingredients" class="black-text">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="steps" name="steps" minlength="5" maxlength="300" type="text" class="validate" required
                        placeholder="How do you create this recipe?">
                    <label for="steps" class="black-text">Steps</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="gluten" class="black-text">
                            <input type="checkbox" id="gluten" name="gluten">
                            <span class="lever"></span>
                            Gluten
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="lactose" class="black-text">
                            <input type="checkbox" id="lactose" name="lactose">
                            <span class="lever"></span>
                            Lactose
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="nuts" class="black-text">
                            <input type="checkbox" id="nuts" name="nuts">
                            <span class="lever"></span>
                            Nuts
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="peanuts" class="black-text">
                            <input type="checkbox" id="peanuts" name="peanuts">
                            <span class="lever"></span>
                            Peanuts
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="shellfish" class="black-text">
                            <input type="checkbox" id="shellfish" name="shellfish">
                            <span class="lever"></span>
                            Shellfish
                        </label>
                    </div>
                </div>
                <div class="input-field col s4">
                    <div class="switch">
                        <label for="fish" class="black-text">
                            <input type="checkbox" id="fish" name="fish">
                            <span class="lever"></span>
                            Fish
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center align">
                    <button type="submit" class="btn-large green lighten-1">
                        Upload Recipe
                    </button>
                    <a href="{{ url_for('frontpage') }}" class="btn-large amber darken-3">Cancel</a>
                </div>    
                </div>
        </form>
    </div>
    </form>
    </div>
{% endblock %}